{% extends 'layout/skeleton.html' %}

{% load static %}
{% block content %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <style>
        div{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 50px;
            font-weight: bold;
            margin-top: 10%;
        }
    </style>
    <div>
        <img src="{% static 'app/img/logo.png' %}" alt=""><br>
        Сайт отправлен на доработку.
    </div>
{% endblock content %}