<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta property="og:image" content="{% static 'app/img/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'app/img/logo.png' %}" type="image/png">
{#    <link rel="stylesheet" href="{% static '' %}">#}
    <title>1000-LIST-NICK</title>
</head>
<body>
{% block content %}
{% endblock content %}


</body>
</html>